  .navbar{
    background-color: #662d91;
  }
  .navbar li{
    list-style: none;
    width: 40px;
    margin-right: 50px;
  }
  #brand-image{
  height: 70x;
  width: 200px;
  margin-left: 50px;
  }
  .form-group, #search-group{
    display: inline-block;
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }
  #search-group input{
    width: 250px;
    display: inline-block;
    border-radius: 40px;
    height: 28px;
  }
  #search-group img{
    width: 38px;
    height: 38px;
    margin-right: 5px;
  }
  .rounded-circle{
    width: 60px;
    height: 60px;
  }
  #burger{
   margin-right: 75px;
   background-clip: content-box;
  }
  .nav-item{
    margin-bottom: auto;
    margin-top: auto;
  }
  .nav-item a{
    padding: 0px;
  }
  .icon{
    width: 30px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  .dropdown-item{
    font-size: larger;
    display: inline-block;
    width: 100%;
  }
  .dropdown-toggle::after{
    content: none;
  }