.line{
    height: 5px;
    width: 90%;
    background-color: rgba(146, 146, 146, 0.315);
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 40px;
  }
  #home{
    min-width: 95%;
    margin-left: auto;
  }
  .col-md-12{
    width: 100%;
    margin: auto;
  }
  .background-container{
    min-width: 1350px;
    min-height: 400px;
    margin: auto;
    background-image: url("../../utilities/banner.png");
    background-size: 100% 100%;
    border-radius: 15px;
  }
  .background-container button {
    position: absolute;
    top: 200px;
    left: 945px;
    background-color: #662d91;
    border-color: #662d91;
    width: 130px;
    font-weight: bold;
  }
  .background-container button:hover {
    background-color: white;
    border-color: #662d91;
    color: #662d91;
    border: 5px;
    font-weight: bold;
  }
  #popular-group{
    margin-top: 25px;
    padding: 0% 10px;
    width: 95%;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  #home label{
    font-size: x-large;
    margin-right: 25px;
  }