.continent-container{
    margin-bottom: 40px;
}
.continent-container h5 {
    margin-top: 10px;
}
.continent-label{
    margin-bottom: 25px;
}
.flagContainer{
    display: flex;
    justify-content: space-between;
}
.flagContainer a:visited, .flagContainer a:link, .flagContainer a:active{
    color: black;
}
.flagContainer a:hover{
    color: #3a278f;
}